@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css";
@import "https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css";

body {
  font-family: Verdana, Geneva, sans-serif;
}

th {
  text-align: center;
  border: 3px solid black;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

td {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.425);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
